{% extends 'base.html' %}
{% block content %}
{% load static %}

      <div class="container-fluid">
        <div class="row">

          <div class="col-lg-2 col-md-2 ">
          </div>

          <div class="col-lg-8 col-md-8 mt-12 my-1 mx-1 text-center">
              <div class="card">
                {% if post.photo %}
                  <p><img src="{{ post.photo.url }}"   class="card-img-top"  alt='{{ tovar_slug }}'></p>
                {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{ post.title }}, {{ post.slug }}</h5>
                    <p class="card-text">{{ post.time_update }}{{ post.content|linebreaks }}</p>
                    <p class="card-text">Купи меня!!!</p>
                    <a href="#" class="btn btn-primary">Buy</a>
                    <a href="{% url 'UpdateGoodsView' post.slug %}" class="btn btn-primary">UpdateGoodsView</a>
<!--                    <a href="{% url 'DeleteGoodsView' post.slug %}" class="btn btn-primary">DeleteGoodsView</a>-->
                    <p>Вносил изменения в эту продукцию: {{ post.author.username|default:"неизвестно" }}</p>
                  </div>
              </div>
            </div>
          </div>
        </div>


{% endblock %}